In [2]:
import numpy as np
import pandas as pd

In [ ]:
total = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml#")
total

In [49]:
deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,2,4,4,4,4,4,4,4,6,6
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,5,6,8,10,10,11,15,15,16,17
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,21,25,26,29,31,35,44,58,86,105
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,3,3,3,6,8,12,14,15,16
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
257,NaN,Malawi,-13.254308,34.301525,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
recovered = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")
recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,2,2,2,2,2,2,5,5,10,10
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,17,17,31,31,33,44,52,67,76,89
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,65,29,29,31,31,37,46,61,61,62
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,1,10,10,10,10,16
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
242,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,NaN,Malawi,-13.254308,34.301525,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
totalCasesWorldWide = total.iloc[:,-1].sum()
totalDeathsWorldWide = deaths.iloc[:,-1].sum()
totalRecoveredWorldWide = recovered.iloc[:,-1].sum()
totalActiveWorldWide = totalCasesWorldWide - totalDeathsWorldWide - totalRecoveredWorldWide

print(totalCasesWorldWide)
print(totalDeathsWorldWide)
print(totalRecoveredWorldWide)
print(totalActiveWorldWide)

1095917
58787
225796
811334

In [70]:
dates = total.columns[4:].tolist()

In [77]:
eachDayRecords = total.iloc[:,4:].sum().tolist()

In [79]:
forBarGraphEachDayRecords = np.ediff1d(eachDayRecords, to_begin=eachDayRecords[0])

In [80]:
eachDayRecovered = recovered.iloc[:,4:].sum().tolist()
eachDayDeath = deaths.iloc[:,4:].sum().tolist()

In [81]:
country = total["Country/Region"].tolist()
country

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'Colombia',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Diamond Princess',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Denmark',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea, South',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malaysia',
 'Maldives',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Namibia',
 'Nepal',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Taiwan*',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Uruguay',
 'US',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Zambia',
 'Zimbabwe',
 'Canada',
 'Dominica',
 'Grenada',
 'Mozambique',
 'Syria',
 'Timor-Leste',
 'Belize',
 'Canada',
 'Laos',
 'Libya',
 'West Bank and Gaza',
 'Guinea-Bissau',
 'Mali',
 'Saint Kitts and Nevis',
 'Canada',
 'Canada',
 'Kosovo',
 'Burma',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'MS Zaandam',
 'Botswana',
 'Burundi',
 'Sierra Leone',
 'Netherlands',
 'Malawi']

In [88]:
x = total[total["Country/Region"] == "Netherlands"]
eachDay = x.iloc[:,4:].sum().tolist()
forBarGraph = np.ediff1d(eachDay, to_begin=eachDay[0])

15821

In [115]:
totalX = total.groupby("Country/Region").sum().reset_index()
recoveredX = recovered.groupby("Country/Region").sum().reset_index()
deathX = deaths.groupby("Country/Region").sum().reset_index()

In [116]:
newCases = (totalX.iloc[:,-1]-totalX.iloc[:,-2]).tolist()
newDeaths = (deathX.iloc[:,-1]-deathX.iloc[:,-2]).tolist()
newRecovery = (recoveredX.iloc[:,-1]-recoveredX.iloc[:,-2]).tolist()

In [117]:
totalY = pd.DataFrame(zip(totalX["Country/Region"].tolist(), totalX.iloc[:,-1].tolist(), newCases))

In [118]:
deathsY = pd.DataFrame(zip(deathX["Country/Region"].tolist(), deathX.iloc[:,-1].tolist(), newDeaths))

In [119]:
recoveryY = pd.DataFrame(zip(recoveredX["Country/Region"].tolist(), recoveredX.iloc[:,-1].tolist(), newRecovery))

In [122]:
newData = totalY.merge(deathsY, how="inner", left_on=0, right_on=0)
newData = newData.merge(recoveryY, how="inner", left_on=0, right_on=0)

                      0   1_x  2_x  1_y  2_y   1   2
0           Afghanistan   281    8    6    0  10   0
1               Albania   304   27   17    1  89  13
2               Algeria  1171  185  105   19  62   1
3               Andorra   439   11   16    1  16   6
4                Angola     8    0    2    0   1   0
..                  ...   ...  ...  ...  ...  ..  ..
176           Venezuela   153    7    7    2  52   9
177             Vietnam   237    4    0    0  85  10
178  West Bank and Gaza   194   33    1    0  21   3
179              Zambia    39    0    1    0   2   2
180            Zimbabwe     9    0    1    0   0   0

[181 rows x 7 columns]

In [133]:
for index, row in newData.iterrows():
    print(row["1_x"])

281
304
1171
439
8
15
1265
736
5330
11524
443
24
672
61
51
351
16770
4
16
5
132
579
4
9056
134
485
302
20
3
6
114
509
12437
8
8
3737
82511
1267
22
134
416
218
1079
269
396
4091
3946
712
49
12
1488
3368
985
46
16
22
961
9
35
7
1615
65202
21
4
155
91159
205
1613
12
50
73
15
23
18
7
222
623
1364
2567
1986
53183
820
4273
7428
119827
47
2617
310
464
122
10062
126
417
130
10
493
508
7
11
75
696
2612
9
70
3
3333
19
39
202
6
186
1510
591
64
14
174
791
10
14
6
15821
868
5
120
210
430
5370
252
2686
1475
1
92
1595
3018
3383
9886
1075
3183
4149
89
9
13
3
245
2039
207
1476
10
2
1114
450
934
7
1505
119199
159
10
10
6131
19606
16
348
20
1978
1
40
98
495
20921
275586
48
1072
1264
38689
369
227
153
237
194
39
9